.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.button-wrapper {
    position: relative;
}

.waveButton {
    position: relative;
  cursor: pointer;
  font-weight: 700;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  width: 100%;
  border-radius: 5px;
  color: rebeccapurple;
}

.waver-hand {
    position: absolute;
    right: 120px;
    top: 43px;
    margin: auto;
    width: 100px;
    height: 30px;
    animation: spin 2s linear infinite;
    color: red;
}
.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  margin: auto;
  width: 30px;
  height: 30px;
  animation: load 2s linear infinite;
}
.form {
    margin: auto;
    padding-left: 10px;
    width: 40%;
    height: 30px;
    border: 1px;
    border-radius: 10px;
    margin-top: 10px;
}



@keyframes spin {
  0% { transform: rotate(40deg); }
  20% { transform: rotate(42deg); }
  40% { transform: rotate(44deg); }
  60% { transform: rotate(46deg); }
  80% { transform: rotate(48deg); }
  100% { transform: rotate(50deg); }
}

@keyframes load {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}